<ion-header>
  <ion-toolbar>
    <ion-title>
      Match League
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let match of matches">
      <ion-label>
        <div class="match-info">
          <div class="team-names">{{ match.strHomeTeam }} vs {{ match.strAwayTeam }}</div>
          <div class="date-time">{{ match.dateEvent | date: 'dd MMM yyyy' }}, {{ match.strTime }}</div>
          <div class="stadium">{{ match.strVenue }}</div>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
