* {
    align-items: center;
}
.badge {
    margin-top: 24px;
    margin-bottom: 24px;
}

.detail {
    padding: 10px;
    font-family: Plus Jakarta Sans;
}
.subtitle {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
}

.deskripsi {
    margin-top: 10px;
}
